.fretboard {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  height: 240px;
  width: 100%;
  background-color: rgb(53, 53, 53);
  border-radius: 11px;
  .stringZone {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 215px;
    width: 100%;
    margin-top: 11px;
    z-index: 5;
  }

  .landmark {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .circle-landmark {
      position: absolute;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background-color: #d1d1d1;
    }
    .circle-landmark3 {
      left: 12.5%;
    }
    .circle-landmark5 {
      left: 21%;
    }
    .circle-landmark7 {
      left: 29.6%;
    }
    .circle-landmark9 {
      left: 38.2%;
    }
    .circle-landmark12top {
      top: 70px;
      left: 50.7%;
    }
    .circle-landmark12bottom {
      bottom: 70px;
      left: 50.7%;
    }
    .circle-landmark15 {
      left: 63.4%;
    }
    .circle-landmark17 {
      left: 71.8%;
    }
    .circle-landmark19 {
      left: 80.3%;
    }
    .circle-landmark21 {
      left: 88.7%;
    }
    .circle-landmark-box {
    }
  }
}
